/*!

=========================================================
* Nuxt Argon Dashboard PRO - v1.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/nuxt-argon-dashboard-pro
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by www.creative-tim.com and www.binarcode.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

// Bootstrap functions
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

// Argon functions
@import "custom/functions";
@import "custom/variables";
@import "~bootstrap/scss/variables";

// Argon mixins
@import "custom/mixins";

// Bootstrap components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Argon components
@import "custom/components";
@import "custom/utilities";
@import "custom/vendors";
@import "custom/transitions";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



body{
  background-color: #191a1d;
  line-height:1;
  width: 100vw;
  height: 100vh;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





.header {
  min-height: 600px;
}

.header-title{
  letter-spacing: 3px;
  margin-top: 33px;
}

.welcome-datavia{
  text-align: start;
  font-weight: 100;
    font-size: 81px;
}

.deep-platform{
  text-align: end;
  font-weight: 100;
}
.titulo-camera {
  text-align: start;
  font-weight: 100;
  font-size: 81px;
}

.titulo-setup {
  text-align: right;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 31px;
}

.image-header {
  width: 105%;
  position: absolute;
  left: 43px;
  top: 41px;
}

.auth-layout {
  min-height: 100vh;
  // background-color: black
  max-width: 100%;
  overflow: hidden;
}

.main-content {
  background-image: url(~assets/datavia-assets/datavia-assets/images/datavia-background.jpg);
  //resize img

  background-size: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: red;
}

h2{
  font-family: 'Roboto';
}

.icon-box {
  // border: 5px white;
  height: 217px;
  padding-top: 24px;
}

.icon-cam {
  margin-right: 100px;
  transition: all 600ms;
  width: 100%;
}

.icon-cam:hover {
  scale: 140%;
  cursor: pointer;
}

.icon-ai {
  margin-left: 45px;
  margin-right: 100px;
  transition: all 600ms;
}

.icon-ai:hover {
  scale: 140%;
  cursor: pointer;
}

.icon-dashboard {
  margin-left: 40px;
  transition: all 600ms;
}

.icon-dashboard:hover {
  scale: 140%;
  cursor: pointer;
}

#carouselExampleIndicators {
  width: 60%;
  max-height: 420px;
  overflow: hidden;
  margin-top: 25px;
}

.carousel-pic {
  display: block;
  width: 60%;
}

.datavia-logo-header {
  width: 35%;
  border: black;
  margin-top: 70px;
  margin-bottom: 60px;
}

.datavia-logo {
  width: 35%;
  margin-top: -45px;
  margin-bottom: 100px;
}

.slider-icon {
  scale: 70%;
  transition: all 600ms;
}

.slider-icon:hover {
  scale: 100%;
  cursor: pointer;
}

// ////////////////////MEDIA QUERYS ///////////////////////////


