/*!

=========================================================
* Nuxt Argon Dashboard PRO - v1.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/nuxt-argon-dashboard-pro
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by www.creative-tim.com and www.binarcode.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

// Bootstrap functions
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

// Argon functions
@import "custom/functions";
@import "custom/variables";
@import "~bootstrap/scss/variables";

// Argon mixins
@import "custom/mixins";

// Bootstrap components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Argon components
@import "custom/components";
@import "custom/utilities";
@import "custom/vendors";
@import "custom/transitions";




.header {
  min-height: 600px;
}

.header-title{
  letter-spacing: 3px;
  margin-top: 33px;
}

.welcome-datavia{
  text-align: start;
  font-weight: 100;
    font-size: 81px;
}

.deep-platform{
  text-align: end;
  font-weight: 100;
}
.titulo-camera {
  text-align: start;
  font-weight: 100;
  font-size: 81px;
}

.titulo-setup {
  text-align: right;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 31px;
}

.image-header {
  width: 105%;
  position: absolute;
  left: 43px;
  top: 41px;
}

.auth-layout {
  min-height: 100vh;
  // background-color: black
  max-width: 100%;
  overflow: hidden;
}

.main-content {
  background-image: url(~assets/datavia-assets/datavia-assets/images/datavia-background.jpg);
  //resize img

  background-size: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: red;
}

.icon-box {
  // border: 5px white;
  height: 217px;
  padding-top: 24px;
}

.icon-cam {
  margin-right: 100px;
  transition: all 600ms;
  width: 100%;
}

.icon-cam:hover {
  scale: 140%;
  cursor: pointer;
}

.icon-ai {
  margin-left: 45px;
  margin-right: 100px;
  transition: all 600ms;
}

.icon-ai:hover {
  scale: 140%;
  cursor: pointer;
}

.icon-dashboard {
  margin-left: 40px;
  transition: all 600ms;
}

.icon-dashboard:hover {
  scale: 140%;
  cursor: pointer;
}

#carouselExampleIndicators {
  width: 60%;
  max-height: 420px;
  overflow: hidden;
  margin-top: 25px;
}

.carousel-pic {
  display: block;
  width: 60%;
}

.datavia-logo-header {
  width: 35%;
  border: black;
  margin-top: 70px;
  margin-bottom: 60px;
}

.datavia-logo {
  width: 35%;
  margin-top: -45px;
  margin-bottom: 100px;
}

.slider-icon {
  scale: 70%;
  transition: all 600ms;
}

.slider-icon:hover {
  scale: 100%;
  cursor: pointer;
}

//////////////////////////////CLEAN SLIDER WITH CURVED BACKGROUND/////////////////
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$contBgClr: linear-gradient(to left bottom, #f2e3c6 0%, #a7a1a5 100%);
$appShadowClr: rgba(#000, 0.3);

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-image: url(/_nuxt/assets/datavia-assets/datavia-assets/images/datavia-background.jpg);
  background-size: 100%;
  overflow: hidden;
  margin-top: -130px;
}

.app {
  position: relative;
  min-width: 850px;
  height: 540px;
  box-shadow: 0 0 60px $appShadowClr;
  overflow: hidden;

  &__bgimg {
    position: absolute;
    top: 0;
    left: -2.5%;
    width: 105%;
    height: 100%;
    transition: transform 3.5s 770ms;

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      /////////////////BACKGROUND SCROLL//////////////
      &--1 {
        background: url("https://technative.io/wp-content/uploads/2018/01/AdobeStock_144903843.jpg")
          center center no-repeat;
        background-size: cover;
      }

      &--2 {
        background: url("https://www.osa-opn.org/opn/media/Images/Articles/2020/2003/Features/Zibar-img1.jpg")
          center center no-repeat;
        background-size: cover;
        opacity: 0;
        transition: opacity 0ms 1300ms;
        will-change: opacity;
      }
    }
  }

  &__text {
    position: absolute;
    right: 165px;
    top: 150px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    z-index: 1;

    &-line {
      transition: transform 1500ms 400ms, opacity 750ms 500ms;
      will-change: transform, opacity;
      user-select: none;
      @for $i from -4 through -1 {
        &--#{abs($i)} {
          transition: transform 1500ms 2000ms + 100ms * ($i - 1),
            opacity 1500ms 2750ms + 250ms * ($i - 1);
        }
      }
      &--4 {
        font: {
          size: 50px;
          weight: 700;
        }
        color: #0a101d;
      }
      &--3 {
        font: {
          size: 50px;
          weight: 700;
        }
        color: #f5365c;
      }
      &--2 {
        margin-top: 10px;
        font: {
          size: 14px;
          weight: 500;
        }
        color: #0099cc;
      }
      &--1 {
        font: {
          size: 50px;
          weight: 700;
        }
        color: #0a101d;
        margin-top: 15px;
        img {
          width: 50px;
        }
      }
    }

    &--1 {
      .app__text-line {
        transform: translate3d(0, -125px, 0);
        opacity: 0;
      }
    }

    &--2 {
      right: initial;
      top: 250px;
      left: 80px;
      z-index: -1;
      transition: z-index 1500ms;

      @for $i from -4 through -1 {
        .app__text-line--#{abs($i)} {
          opacity: 0;
          transition: transform 1500ms 300ms + 75ms * ($i - 1),
            opacity 400ms 500ms + 75ms * ($i - 1);
        }
      }
    }
  }

  &__img {
    position: absolute;
    transform: translate3d(0, -750px, 0);
    width: 850px;
    height: 100%;
    transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    will-change: transform;

    img {
      min-width: 100%;
      user-select: none;
    }
  }
}

.initial {
  .app__img {
    transform: translate3d(0, 0, 0);
  }
  .app__text--1 {
    @for $i from 1 through 4 {
      .app__text-line--#{$i} {
        transform: translate3d(0, 0, 0);
        transition: transform 1500ms 1400ms + 75ms * ($i - 1),
          opacity 400ms 1600ms + 75ms * ($i - 1);
        opacity: 1;
      }
    }
  }
}

.active {
  .app__bgimg {
    transform: translate3d(10px, 0, 0) scale(1.05);
    transition: transform 5s 850ms ease-in-out;
    .app__bgimg-image--2 {
      opacity: 1;
      transition: opacity 0ms 1500ms;
    }
  }
  .app__img {
    transition: transform 3s cubic-bezier(0.6, 0.13, 0.31, 1.02);
    transform: translate3d(0, -1410px, 0);
  }
  .app__text--1 {
    z-index: -1;
    transition: z-index 0ms 1500ms;
    @for $i from 1 through 4 {
      .app__text-line--#{$i} {
        transform: translate3d(0, -125px, 0);
        transition: transform 1500ms 300ms + 75ms * ($i - 1),
          opacity 400ms 500ms + 75ms * ($i - 1);
        opacity: 0;
      }
    }
  }
  .app__text--2 {
    z-index: 1;

    @for $i from 1 through 4 {
      .app__text-line--#{$i} {
        transform: translate3d(0, -125px, 0);
        transition: transform 2500ms 1100ms + 75ms * ($i - 1),
          opacity 1300ms 1300ms + 275ms * ($i - 1);
        opacity: 1;
      }
    }
  }
}

.mouse {
  position: relative;
  margin-right: 20px;
  min-width: 50px;
  height: 80px;
  border-radius: 30px;
  border: 5px solid rgba(255, 255, 255, 0.8);
  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation: scroll 1s infinite alternate;
    @keyframes scroll {
      100% {
        transform: translate(-50%, 15px);
      }
    }
  }
}

.pages {
  margin-left: 20px;
  &__list {
    list-style-type: none;
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0, 0);
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: 500ms;
    }
    &:hover:after {
      transform: translate(-50%, -50%) scale(1, 1);
      opacity: 1;
    }
  }
}

.page__item-active {
  &:after {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 50px;
  img {
    width: 100%;
    vertical-align: top;
  }
  &--twitter {
    left: auto;
    right: 5px;
  }
}

//////////////////////////////CLEAN SLIDER WITH CURVED BACKGROUND/////////////////

